body{
    background-color: #FA8072;
}
#hero{
    font-family: 'Sigmar One', cursive;
    font-size: 60px;
    text-align: right;
    color: white;
    background-image: url("../img/salmon.png"), radial-gradient(#00FFFF,#008080);
    background-color: #008080;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;

}

h2{
    font-family: 'Sigmar One', cursive;
    font-size: 16pt;
}

div{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    padding: 8px;
}

form{
    background-color: white;
    max-width: 60%;
    color:#008080;
    margin-left: auto;
    margin-right: auto;
    border-style:solid;
    border-color: #008080;

}

#stores{
    background-color: white;
    color: #008080;
    margin-top: 16px;
    border-color: #008080;
    border-style: solid;
    border-collapse: collapse;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    margin-bottom: 16px;
}

th,td{
    border: 1px solid #008080;
    padding: 2px;
    text-align: right;
}

#headerRow{
    writing-mode: vertical-lr;
    text-orientation: mixed;
}